# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/ride_booking_db?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=root

# Security Config
# For production, generate a secure random 256-bit key using: openssl rand -base64 32
JWT_SECRET=VGhpc0lzQVNlY3JldEtleUZvclJpZGVCb29raW5nU3lzdGVtMTIzNDU2Nzg5MA==
